.container{
    text-align: center;
    background-color: rgb(81, 14, 238);
    width: 100%; 
  color: white;
  
}
   #vehicle{
    text-align: center;
}
.container div{
    margin: 10px;
        padding: 20px;
        font-size: 30px;
        background-color: #2ec1fc;
        flex-direction:column;
}